<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiggy Clone | Food Delivery</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

    <header class="navbar">
        <div class="nav-container">
            <div class="left-nav">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Swiggy_logo.svg/1200px-Swiggy_logo.svg.png"
                    alt="Swiggy Logo" class="logo">
            </div>
            <nav class="right-nav">
                <ul>
                    <li><i class="fa-solid fa-magnifying-glass"></i> Search</li>
                    <li><i class="fa-solid fa-percent"></i> Offers <span class="new-tag">NEW</span></li>
                    <li><i class="fa-solid fa-life-ring"></i> Help</li>
                    <li><i class="fa-solid fa-user"></i> Sign In</li>
                    <li id="orderBtn"><i class="fa-solid fa-user"></i> Orders</li>
                    <li id="cartBtn"><i class="fa-solid fa-cart-shopping"></i> Cart</li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">

        <section class="filters">
            <h2>Restaurants with online food delivery in Hyderabad</h2>
        </section>

        <section class="restaurant-grid" id="resturants_container">
            <!-- <div class="card">
                <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1567620985032-026c125c15b9?auto=format&fit=crop&w=500&q=80" alt="Food">
                    <div class="img-overlay">ITEMS AT ₹129</div>
                </div>
                <div class="card-details">
                    <h3>Burger King</h3>
                    <p class="rating"><i class="fa-solid fa-circle-star"></i> 4.2 • 25-30 mins</p>
                    <p class="cuisine">Burgers, American</p>
                    <p class="area">Banjara Hills</p>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1601050690597-df056fb01793?auto=format&fit=crop&w=500&q=80" alt="Food">
                    <div class="img-overlay">60% OFF UPTO ₹120</div>
                </div>
                <div class="card-details">
                    <h3>Pista House</h3>
                    <p class="rating"><i class="fa-solid fa-circle-star"></i> 4.5 • 30-35 mins</p>
                    <p class="cuisine">Biryani, North Indian</p>
                    <p class="area">Gachibowli</p>
                </div>
            </div> -->
            
            <div class="card">
                <div class="card-img">
                    
                    <img src="../static/food.jpg">
                    <!-- <div class="img-overlay">ITEMS AT ₹129</div> -->
                </div>
                <div class="card-details">
                    <h3>Burger King</h3>
                    <p class="rating"><i class="fa-solid fa-circle-star"></i> 4.2 • 25-30 mins</p>
                    <p class="cuisine">Burgers, American</p>
                    <p class="area">Banjara Hills</p>
                </div>
            </div>
        </section>
    </main>
<script src="../static/home.js"></script>
</body>

</html>