<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose Role</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/landing.css">
</head>

<body>

  <div class="container">
    <h1>Who are you?</h1>

    <div class="cards">

      <div class="card" onclick="selectRole('user')">
        <div class="icon">👤</div>
        <div class="title">User</div>
        <div class="desc">Browse & buy products</div>
      </div>

      <div class="card" onclick="selectRole('seller')">
        <div class="icon">🏪</div>
        <div class="title">Seller</div>
        <div class="desc">Sell & manage products</div>
      </div>

    </div>
  </div>

  <script src="../static/landing.js"></script>

</body>
</html>