<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/orders.css">
    <link rel="stylesheet" href="../static/user_navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <header class="navbar">
        <div class="nav-container">
            <div class="left-nav">
                <img src="../static/logo2.png" alt="Swiggy Logo" class="logo">
                <div class="location-overlay" id="locationOverlay"></div>
            </div>
            <nav class="app-navbar" id="appNavbar">
    <div class="navbar-indicator" id="navbarIndicator"></div>
 
    <a href="home.html" class="nav-item" data-page="home">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
    </a>
 
    <a href="orders.html" class="nav-item active" data-page="orders">
        <i class="fa-solid fa-bag-shopping"></i>
        <span>Orders</span>
    </a>
 
    <a href="cart.html" class="nav-item" data-page="cart">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Cart</span>
    </a>
</nav>
        </div>
    </header>
    <div id="spa-content">
    <div class="orders-container">
        <div class="header">
            <h1>Your Orders</h1>
            <select id="filterDropdown">
                <option value="placed">Pending</option>
                <option value="all">All Orders</option>
                <option value="completed">Completed</option>
                <option value="canceled">Canceled</option>
            </select>
        </div>
    <div class="empty-state" id="No_orders_container">
        <div class="icon">🛍️</div>

        <h1 id="No_orders">No Orders Yet</h1>

        <p>
            Looks like you haven't placed any orders yet.
            Start exploring our products and find something you'll love.
        </p>

        <button class="btn" id="shopBtn">
            Start Shopping
        </button>

        <!-- <a href="#" class="secondary-link">
            Browse Categories
        </a> -->
    </div>


        <div id="orders-list"></div>
        <!-- <div class="res_namesss" style="display: flex;justify-content: space-between;margin-bottom: 10px;">
            <span class="order-status status-placed">placed</span>
            </div> -->
    </div>
    </div>
    <!-- <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script> -->
     <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
    <script src="../static/orders.js"></script>
     <script src="../static/user_navbar.js"></script>
      <script>
        lucide.createIcons();
    </script>
</body>

</html>